.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    padding-top: 80px; // Обновленная высота header
    min-height: calc(100vh - 80px - 200px); // 100vh - header - footer
    display: flex;
    flex-direction: column;
  }
} 